body {
    /* font-family: Arial, sans-serif; */
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #242424;
    color: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a, button {
    font-family: inherit; 
}

header {
    background-color: #124035;
    color: #ebcd95;
    padding: 15px 0;
    text-align: center;
}

h1{
    font-size: 45px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #05745a;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    color: #ebcd95;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#hero {
    text-align: center;
    padding: 50px 20px;
}

.hero-img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

button {
    background-color: #124035;
    color: #ebcd95;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover { 
    background-color: #159979;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #124035;
    color: #ebcd95;
}

#reservationMessage {
    font-size: 27px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#languageToggle{
    background-color: #05745a;
    float: right;
}

#languageToggle:hover{
    background-color: #159979;
}

#bookTitle{
    color: #ebcd95;
    font-size: 30px;
}